<!-- .container.mt-3>.row>.col-md-8  -->
<div class="container mt-3">
    <div class="row" >
        <div class="col-md-5 ">
            
            <% if (!article) { %>
                <div class="alert alert-danger fw-bold" role="alert">
                   Article Tidak Ada !!  <a href="/articles/article" class="alert-link fw-normal">
                       <br>&laquo; Kembali Ke List Article</a>
            <% } else { %>
                <div class="card mb-3"> 
                    <img src="<%= article.image  %>" class="card-img-top"  alt="...">
                <div class="card-body">
                  <h5 class="card-title"><%= article.title %> </h5>
                  <h6 class="card-subtitle mb-2 text-muted"><%= article.subtitle %></h6>
                  <article>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8 col-md-10 mx-auto">
                               <%- article.content %>
                            </div>
                        </div>
                    </div>
                </article>
                <hr/>
                  <!-- <a href="/contact/delete/<%= article.title %>" class="btn btn-danger badge" onclick="return confirm('Yakin ?')">Delete</a> -->
                  <form action="/article?_method=DELETE" method="POST" class="d-inline"> <!--methodoverride-->
                  <input type="hidden" name="title" value="<%= article.title %>">
                  <button type="submit" class="btn btn-danger badge" onclick="return confirm('Yakin ?')">Delete</button>
                  </form>
                  <a href="/article/edit/<%= article.title %> " class="btn btn-info badge" >Edit</a>
                  <a href="/article" class="card-link d-block mt-3">&laquo; Kembali Ke List Article</a>
                  
                </div>
              </div>
              <% } %> 
        </div>
    </div>
</div>